extends base

block content 
    img(src="/"+user.avatarUrl, alt="Avatar", width="100", height="100")
    if errorMessage 
      span=errorMessage
    form(method="post", enctype="multipart/form-data") 
      label(for="avatar") Avatar
      input(type="file", id="avatar", name="avatar", accept="image/*")  
      input(name="name", type="text", required, placeholder="Name", value =user.name)
      input(name="email", type="email", required, placeholder="E-Mail", value =user.email)
      input(name="username", type="text", required, placeholder="User Name", value =user.username)
      input(name="location", type="text", required, placeholder="Location", value =user.location)
      input(type="submit", value="Upadte Profile")
      if !user.socialOnly
        hr
        a(href="change-password") Change Password &rarr; 